*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(42, 41, 53, 0.6),rgba(17, 14, 39, 0)), url(../img/bg10.jpg);
    background-size: cover;
    background-position: left;
    padding: 10px 8%;
}


nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}


.logo{
    width: 150px;
    cursor: pointer;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}


nav ul li{
    display: inline-block ;
    margin: 10px 20px;
}

nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover{
    color: rgb(94, 236, 51);
    transition: 0.3s;
}


.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #f5168d;
    color: #fff;
    font-weight: 500;
    cursor: pointer;

}



.main{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.main-left{
    max-width: 400px;    
    border: 5px solid #fbf650; 
}


.main-left h1{
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    color: rgb(94, 236, 51);
    font-size: 120px;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
      margin-bottom: 10px;
}

.main-left h3{
    font-size: 40px ;
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 25px;
    color: #fff;
}


.main-left span{
    font-size: 30px ;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 25px;
    color: rgb(246, 48, 200);
}


.main-left p{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 25px; 
    color: #fff;
}



.main-right{
    border: 5px solid #40e2ff; 
}

.main-right table {
    width: 100%;
    border-collapse: collapse;
}

.main-right th {
    border: 1px solid rgb(86, 201, 239);
    padding: 8px;
    text-align: center;
    color: #71ef7d;
    font-size: 25px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 25px; 
}


.main-right td {
    padding: 8px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    
}


.status{
    display: flex;
    align-items: center;
    background-color: #71ef7d;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    box-shadow: 0 0 15px rgb(146, 255, 5);

}


.status td {
    text-align: center;
    color: #000000;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    padding-left: 10px;

}




.search form{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 0 0 15px rgb(146, 255, 5);

}

.search form:active{
    box-shadow: 0 0 10px rgb(255, 84, 232), 0 0 10px rgb(151, 38, 167) inset;
}


.search form input{
    border: 0;
    outline: 0px;
    width: 100%;
    padding-left: 10px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;


}



.search form .btn{
    font-size: 15px;
    padding: 10px 30px;
}





.video{
    display: flex;
    align-items: center;
    background: #000000;
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
    box-shadow: 0 0 15px rgb(146, 255, 5);

}





