<!-- base-kpi template.html -->


<div class="manage-kpi-db--wrapper">


    <!--               -->
    <!--  kpi only     -->
    <!--               -->

    {% if kpi.asset is not none %}

    <div class="kpi-only">

        <table>
            <tr>
                <th>ASSETS</th>
                <th>CATEGORIES</th>
                <th>LIVE</th>
                <th>VOD &nbsp;
                    <a href="{{ url_for('exploretv') }}"><i class="ri-tv-line"></i></a>
                    &nbsp;
                    <a href="{{ url_for('exploremov') }}"><i class="ri-film-fill"></i></a>
                </th>
            </tr>
            <tr>
                <td> {{ kpi.asset }} </td>
                <td> {{ kpi.categories }} </td>
                <td> {{ kpi.liv }}  </td>
                <td> {{ kpi.vod }} </td>
            </tr>
        </table>


    </div>
    {% endif %}


    {% if kpi.asset is not none %}
    <div class="db-only">

        {{ kpi.dbname }} ({{ kpi.cr_tm }})  
        
        <a href="#"><i class="ri-download-cloud-fill"></i></a>


    </div>
    {% endif %}


</div>
