{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}



   

    
<div class="manage--wrapper">

    <!-- Include the template here -->
    {% include 'base-kpi.html' %}

      
    

    <div class="explore-category">
        <h1> {{ exp_type }} </h1>
    </div>


        
    <!--                 -->
    <!-- Results table   -->
    <!--                 -->


    {% if items %}
    <div class="show-result">

        <table border="0">
            {% for item in items %}

            <tr>
                <td class="stream-logo"><img src="{{ item[3] }}" alt="NaN"></td>

                {% if item[2] is not none %}
                    <td>
                        <a href="https://www.themoviedb.org/search?query={{ item[2] }}" target="_blank">
                            {{ item[1] }}  <div class="mov-cat"> {{ item[7] }} </div>  
                        </a>  
                    </td>
                {% else %}
                    <td>{{ item[1] }}  <div class="mov-cat"> {{ item[7] }} </div>   </td>
                {% endif %}


                <td>
                    {{ item[9] }}
                </td>

                <td>
                    {{ item[8] }}
                </td>


                {% if item[12] == 1 %}
                    <td> 
                       <a href="https://www.themoviedb.org/search?query={{ item[2] }}" target="_blank">
                         <i class="ri-heart-3-fill"></i>
                       </a> 
                    </td>
                {% else %}
                    <td> 
                        &nbsp;
                    </td>
                {% endif %}


                {% if item[6] == "LIV" and fpids is none %}
                  <td><a href="{{url_for('qjob', type='LIV', long_url=item[5]) }}"> 
                      <i class="ri-git-branch-fill"></i> 
                      </a> 
                  </td> 
                {% endif %}



                {% if item[6] == "VOD" and fpids is none %}
                  <td><a href="{{url_for('qjob', type='VOD',long_url=item[5]) }}"> 
                      <i class="ri-youtube-fill"></i>
                      </a> 
                  </td>   
                {% endif %}

            </tr>
            {% endfor %}
        </table>
                    

    </div>
    {% endif %}



</div>



 
 








{% endblock %}
