{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


    <!--                -->
    <!--  HERO Section  -->
    <!--                -->

    <div class="hero-wrapper">

        <div class="hero">

            <h3>Streaming <span>{for}</span></h3> 
            <h1>hackers_</h1> 
            <p>Stream your content to any platforms With Open-source 
                technology and Docker.</p>
 
            <h4>
                Recommanded  <i class="ri-android-fill"></i> and <i class="ri-apple-fill"></i> mobile App for your tv : <div class="icon-app">
                    <a href="https://play.google.com/store/search?q=vlc&c=apps&hl=en_CA&gl=US" target="_blank"> <img src="static/img/vlc.png" alt="vlc"> </a>
                </div>
            </h4>

            {% if fpids is none %}

            <div class="main-page-no-streaming">
                <!-- Include the template here -->
                {% include 'base-kpi.html' %}
            </div>


            {% endif %}


        </div>

    </div>



    {% if fpids is not none %}

    <!--                           -->
    <!-- Display publish url       -->
    <!--                           -->

    <section>
        <div class="streamn-url-wrapper">

            <h4>Now, setup your TV or Mobile App to this URL link :</h4>

            <div class="stream-url">
                <i class="ri-earth-fill"></i>&nbsp;http://tv.dresdell.com:8080/hls/live.m3u8 
        
            </div>

        </div>
        
    </section>

        
 
    <!--                                                -->
    <!-- Section live streaming video if restream active-->
    <!--                                                -->

    <section>

        <div class="stream-section">

            <div class="box">

                <video 
                id="my-video" 
                class="video-js" 
                controls 
                autoplay 
                preload="auto" 
                width="640" 
                height="360"
                muted
                data-setup="{}"           
            >

                <source src="http://tv.dresdell.com:8080/hls/live.m3u8" 
                        type="application/x-mpegURL">        
                </video>
        
            </div>

        </div>

    </section>

    {% endif %}






{% endblock %}
