<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyHack#Tool</title>
    <link rel="stylesheet" href="static/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Workbench&display=swap" rel="stylesheet">
   
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
    <script defer src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
    
</head>

<body>

<div class="container">

    <nav>
        <img src="static/img/logo.png" class="logo">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Manage</a></li>
        </ul>
    </nav>

    <div class="main">

        <div class="main-left">

            <h3>Streaming <span>{for}</span></h3> 
            <h1>hackers_</h1> 
    
            <p>Unparalleled flexibility allowing to stream your 
               content to multiple platforms With Open-source 
               technology.
            </p>

        </div>

        <div class="main-right">

            <table>
                <tr>
                    <td>Smartersiptv.db</td>
                </tr>

            </table>


            <table>
                <tr>
                    <th>403k</th>
                    <th>610</th>
                    <th>21K</th>
                    <th>390k</th>
                </tr>
                <tr>
                    <td>ASSETS</td>
                    <td>CATEGORIES</td>
                    <td>LIVE</td>
                    <td>VOD</td>
                </tr>

            </table>
        
            
        </div>

    </div>


    
    <div class="status">

        <table>
            <tr>
                <td>restreaming</td>
                <td>TVA sport </td> 
                <td>http://tv.dresdell.com/liv/stream.m3u8 </td>         
                
            </tr>

        </table> 

    </div>




    <div class="search">

            <form>
                <input type="text" placeholder="Country name">
                <button type="submit" class="btn"> Search</button>

            </form>
    </div>



    <div class="video">

        <video 
           id="my-video" 
           class="video-js" 
           controls 
           autoplay 
           preload="auto" 
           width="640" 
           height="360"
           muted
           data-setup="{}"           
        
        >

            <source src="https://uni01rtmp.tulix.tv/amazingdtv/amazingdtv/chunklist.m3u8" 
                    type="application/x-mpegURL">


        </video>

    </div>






</div>

</body>

</html>