<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hack#Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Workbench&display=swap" rel="stylesheet">
   
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
    <script defer src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>

    
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
    />


</head>



<body>

    <header>
        <nav>
            <img src="static/img/logo5.png" class="logo">

            <div class="user">
                <!--               -->
                <!--  ffmpeg proc  -->
                <!--               -->
                {% if 'username' in session %}
                <p> >_ Hello, {{ session['username'] }}  
                                 
                        {% if fpids is not none %}

                            {% for fid in fpids %}
                               { <i class="ri-live-fill"></i>  {{ fid }}  <a href="{{ url_for('delete', id=fid) }}">
                                                  <i class="ri-delete-bin-fill"></i></a>
                               } 
                            {% endfor %}

                        {% endif %}  </p>
                {% endif %}
            </div>


            <ul class="nav_links">

                <li class="link"><a href="{{ url_for('index') }}">Home</a>
                <li class="link"><a href="https://www.themoviedb.org" target="_blank">Explore</a></li>
            
                {% if 'username' in session %}
                <li class="link"><a href="{{ url_for('manage') }}">Manage</a></li>
                <li class="link"><a href="{{ url_for('logout') }}">Logout</a></li>
            
                {% else %}
                <li class="link"><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}

                
            </ul>

            <div class="toggle_btn">
                <i class="ri-menu-line"></i>
            </div>
        </nav>






        <!--                -->
        <!--  HERO Section  -->
        <!--                -->


        <div class="hero">


            <div class="hero-left">
                <h3>Streaming <span>{for}</span></h3> 
                <h1>hackers_</h1> 
                <p>Stream your content to any platforms With Open-source 
                   technology and Docker.
                </p>
            </div>
    

            <div class="hero-right">
                
                <h3>{Tricks}</h3>
               
             

                <p>Recommanded  <i class="ri-android-fill"></i> and <i class="ri-apple-fill"></i>
                    
                    mobile App for your tv : </p>
                    <div class="icon-app">

                        <a href="https://play.google.com/store/search?q=vlc&c=apps&hl=en_CA&gl=US" target="_blank"> <img src="static/img/vlc.png" alt="vlc"> </a>
                        <a href="https://play.google.com/store/search?q=mpv&c=apps&hl=en_CA&gl=US" target="_blank"> <img src="static/img/mpv.svg" alt="mpv"> </a>

                    </div>

                <p>Now, setup your TV app to this URL link <i class="ri-link-m"></i>:</p>
                
                <div class="stream-url">
                    http://tv.dresdell.com:8080/hls/live.m3u8 

                </div>
             

            </div>
    
        </div>


    </header>




 
<!--                                                -->
<!-- Section live streaming video if restream active-->
<!--                                                -->

    <section>

        <div class="stream-section">

            <div class="box">

                <video 
                id="my-video" 
                class="video-js" 
                controls 
                autoplay 
                preload="auto" 
                width="640" 
                height="360"
                muted
                data-setup="{}"           
            >

                <source src="http://tv.dresdell.com:8080/hls/live.m3u8" 
                        type="application/x-mpegURL">        
                </video>
        
            </div>

        </div>

    </section>



    <!--                -->
    <!-- Section  footer-->
    <!--                -->

    <section>
        <div class="custom-shape-divider-top-1710690546">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
            </svg>
        </div>
    </section>


    <section class="footer">

        <div class="footer-message">

            <div class="footer-message-item">

                <h2>Disclaimer:</h2>

                <p> This is a personal project created only for the purpose of 
                    learning IP TV, FFmpeg, Flask, HTML, CSS & docker.</p>

            </div>

            <div class="footer-message-social">
                    
                <a href="https://github.com/windseeker5/itool" target="_blank">
                    <i class="ri-github-fill"></i>
                </a>

                <a href="https://discord.com/channels/808085186767355924/808085187275653121" target="_blank">
                    <i class="ri-discord-fill"></i>
                </a>

            </div>

        </div>        

        <div class="footer-copyright">    
            <p>© KDC 2024. All rights reserved</p>
        </div>

    </section>




<script>
    const toggleBtn = document.querySelector(".toggle_btn")
    const toggleBtnIcon = document.querySelector(".toggle_btn i")
    const menu = document.querySelector(".nav_links")

    toggleBtn.onclick = function () {
        menu.classList.toggle("open")
        const isOpen = menu.classList.contains("open")

        toggleBtnIcon.classList = isOpen ? "ri-close-line" : "ri-menu-line";

    }
</script>


</body>

</html>