{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}



   

    
<div class="manage--wrapper">


    <div class="manage-kpi-db--wrapper">


        <!--               -->
        <!--  kpi only     -->
        <!--               -->

        {% if kpi.asset is not none %}

        <div class="kpi-only">

            <table>
                <tr>
                    <th>ASSETS</th>
                    <th>CATEGORIES</th>
                    <th>LIVE</th>
                    <th>VOD</th>
                </tr>
                <tr>
                    <td> {{ kpi.asset }} </td>
                    <td> {{ kpi.categories }} </td>
                    <td> {{ kpi.liv }}  </td>
                    <td> {{ kpi.vod }} </td>
                </tr>
            </table>

    
        </div>
        {% endif %}


        {% if kpi.asset is not none %}
        <div class="db-only">

            <i class="ri-database-2-fill"></i>

            {{ kpi.dbname }} ({{ kpi.cr_tm }})  
            
            <a href="#"><i class="ri-download-cloud-fill"></i></a>


        </div>
        {% endif %}



    </div>

       



    <!--                 -->
    <!-- Search an Asset -->
    <!--                 -->


    <div class="search">

        <form action="/search" method="post">
            <input type="text" name="search_query" placeholder="Search an asset...">

                <button type="submit" class="btn">
                    <i class="ri-search-line"></i>
                </button>

        </form>
        
    </div>



        
    <!--                 -->
    <!-- Results table   -->
    <!--                 -->



    {% if items %}
    <div class="show-result">

        <table border="0">
            {% for item in items %}

            <tr>
                <td class="stream-logo"><img src="{{ item[3] }}" alt="NaN"></td>
                <td class="stream-category">{{ item[4] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[8] }}</td>

                {% if item[8] == "LIV" %}
                    <td><a href="{{url_for('qjob', type='LIV', long_url=item[7]) }}"> 
                             <i class="ri-git-branch-fill"></i> 
                        </a> 
                    </td>
                {% endif %}

                {% if item[8] == "VOD" %}
                    <td><a href="{{url_for('qjob', type='VOD',long_url=item[7]) }}"> 
                        <i class="ri-youtube-fill"></i>
                        </a> 
                    </td>
                {% endif %}

            
            </tr>
            {% endfor %}
        </table>
                    

    </div>
    {% endif %}



</div>



 
 








{% endblock %}
