

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Template Main CSS File -->
        <link href="static/css/styles.css" rel="stylesheet">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i|Domine:400,700&amp;subset=latin-ext" rel="stylesheet">



        <title>Navigation Bar</title>
    </head>
    <body>
        <div class="navbar">
            <div class="logo">
                <img src="static/img/logo.png" alt="Logo">
            </div>
            <div class="menu">
                <a href="#home">HOME</a>
                <a href="#about">MANAGE</a>
                <a href="#services">EXPLORE</a>
            </div>
        </div>


        <h1>Hello mon homme !</h1>


    </body>
    </html>
    




