<!DOCTYPE html>
<html>
<head>
    <title>HaKTv</title>
    <link href="https://vjs.zencdn.net/7.16.0/video-js.css" rel="stylesheet">
 

    <style>
        .logo img {
            max-width: 160px;
            height: auto;
        }
    </style>


</head>
<body>




    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}






    <ul>
        <li><a href="{{ url_for('index') }}">Home</a>
        <li><a href="#">Explore</a></li>
        <li><a href="#">Login</a></li>



        {% if fpids is not none %}

        <h1>Queue Information</h1>

        <table>
            <tr>
                <th>ffmpeg ID</th>
                <th>Action</th>
            </tr>
            {% for fid in fpids %}
            <tr>
                <td> {{ fid }} </td>
                <td><a href="{{ url_for('delete', id=fid) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>

        {% endif %}







        {% if kpi.asset is not none %}

        <h1>Media KPI</h1>

        <table>
            <tr>
                <th>ASSET</th>
                <th>CATEGORIES</th>
                <th>LIVE STREAM</th>
                <th>VOD</th>
            </tr>
            <tr>
                <td> {{ kpi.asset }} </td>
                <td> {{ kpi.categories }} </td>
                <td> {{ kpi.liv }}  </td>
                <td> {{ kpi.vod }} </td>
            </tr>
        </table>

        {{ kpi.dbname }} ({{ kpi.cr_tm }}) 

        {% endif %}









        <h1>Search Assets</h1>

        <form action="/search" method="post">
            <input type="text" name="search_query" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
        
        <br>
        
        {% if items %}

        <table border="1">
            <tr>
                <th>Asset ID</th>
                <th>Video Description</th>
                <th>Logo</th>
                <th>Category</th>
                <th>video_url</th>
                <th>Stream type</th>
                <th>Actions</th> <!-- New column for actions -->
            </tr>
            {% for item in items %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[2] }}</td>
                <td class="logo"><img src="{{ item[3] }}" alt="Logo"></td>
                <td>{{ item[4] }}</td>
                <td>{{ item[7] }}</td>
                <td>{{ item[8] }}</td>
                    
                <td>{% if item[8] == 'LIV' %}<a href="{{url_for('qjob', long_url=item[7]) }}">ReStream</a>{% endif %}</td> 
            </tr>
            {% endfor %}
        </table>
        
        {% endif %}
        




     
        




        {% if fpids is not none %}


        <h1>Personal Broadcasting Solution</h1>

   
        <video id="my-video" class="video-js" controls autoplay preload="auto" width="640" height="264">
            <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    
        <script src="https://vjs.zencdn.net/7.16.0/video.min.js"></script>
        <script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
        <script>
            var player = videojs('my-video');
            player.ready(function() {
                // Initialize Google Cast with your application ID
                cast.framework.CastContext.getInstance().setOptions({
                    receiverApplicationId: 'FB778770',
                    autoJoinPolicy: chrome.cast.AutoJoinPolicy.ORIGIN_SCOPED
                });
    
                var castButton = document.createElement('button');
                castButton.className = 'vjs-button vjs-control vjs-cast-button';
                castButton.innerHTML = '<span class="vjs-icon-placeholder"></span><span class="vjs-control-text">Cast</span>';
                castButton.addEventListener('click', function() {
                    var castSession = cast.framework.CastContext.getInstance().getCurrentSession();
                    if (castSession) {
                        var mediaInfo = new chrome.cast.media.MediaInfo('http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4', 'video/mp4');
                        var request = new chrome.cast.media.LoadRequest(mediaInfo);
                        castSession.loadMedia(request);
                    }
                });
    
                // Insert the cast button before the fullscreen button
                var fullscreenButton = player.controlBar.getChild('FullscreenToggle');
                player.controlBar.el().insertBefore(castButton, fullscreenButton.el());
            });
        </script>



        {% endif %}













</body>
</html>