@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shalimar&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Shalimar&family=Square+Peg&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.99)), url(../img/bg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    background-color: rgb(14, 2, 10);
}



.logo{
    
    width: 65px;
    cursor: pointer;
    /* Adjust margins */
    margin-top: 5px; /* Adjust as needed */
    margin-left: 5%; 

}




nav{
    padding: 0px 5%;
    /* min-width: 700px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 90px;
    z-index: 99999;
}


nav ul{
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}


nav ul li a{
    text-decoration: none;
    color: #9e40a1; 
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}


nav ul li a:hover{
    background-color: rgba(226, 55, 226, 0.2);
    filter: drop-shadow(0 0 10px #f701ff); 
}

.menu-icon{
    display: none;
}

.menu-icon i{
    color: #fff;
    font-size: 30px;
}


.user p{
    color: #5bff5b;
    }

.user i{
    color: #ff0000;
    font-size: 1.1rem;
}

.user i:hover{
    color: #f0ff1b;
    transition: 0.3s ease-out;
}


/* Terminal styles */
.terminal {
    background-color: black;
    color: rgb(0, 255, 0);
    font-family: monospace;
    font-size: xx-small;
    padding: 5px;
    max-width: 1000px;
    border: 1px solid rgb(22, 73, 0);
    border-radius: 5px;
    max-height: 100px;
    overflow-y: auto;
    text-align: center;
}

.terminal p {
    margin: 2px 0;
}





.hero-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

            
.hero-wrapper-row{
    display: flex;
    justify-content: center;
}


.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 800px;
    max-width: 800px;
    padding: 30px 30px;
}

.hero-no-streaming{
    margin-top: 0px;
    margin-bottom: 20%;
}


.hero h1{
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    color: rgb(94, 236, 51);
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
      margin-bottom: 3px;
}

.hero h3{
    font-size: 30px;
    font-family: "Roboto Slab", serif;
    font-weight: 200;
    color: #ffffff;
}

.hero h4{
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    font-weight: 200;
    color: #ffffff;
}


.hero span{
    font-size: 25px ;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 25px;
    color: #ce2f8c;
}

.hero p{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    padding: 030px 0px;
    color: #fff;
}

.icon-app img{
    position: relative;
    bottom: -15px;
    width: 50px;
    height: auto;
}


.icon-app img:hover{
    filter: drop-shadow(0 0 5px #f5e728); 
}





.streamn-url-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

            
.streamn-url-row{
    display: flex;
    justify-content: center;
    align-items: center;

}


.streamn-url-column{
    display: flex;
    flex-direction: column;
    align-items: center;

}



.streamn-url-wrapper h4{
    color: rgb(94, 236, 51);
    font-size: 18px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    margin-bottom: 10px;
}


.stream-url{
    font-size: 18px;
    text-align: center;
    width: 640px;
    background: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 40px;
    border: 1px solid #7c7c7c; /* 1px solid grey border */
    box-shadow: 0 0 5px rgb(247, 8, 255);
}




.stream-section{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}






/*                                       */
/*     Border Animation RGB effect       */
/*                                       */

.box {
    position: relative;
    width: 640px;
    height: 360px;
    background: #151320;
    border-radius: 10px; 
}

.video-js {
    width: 640px !important;
    height: 360px !important;
}




.box::before,
.box::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: -5px;
    left: -5px;
    border-radius: 8px;
    background: linear-gradient(45deg,
        #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
        #ff0055, #ff0000, #ffff00, #00ff00, #0099ff, #001aff, #a200ff
    );
    background-size: 300%;
    animation: border 12s linear infinite;
}

.box::after {
    filter: blur(25px);
}

@keyframes border {
    0%, 100% {
        background-position: 0 0;
    }

    50% {
        background-position: 300%;
    }
}








.custom-shape-divider-top-1710690546 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1710690546 svg {
    position: relative;
    background: rgb(14, 2, 10);
    display: block;
    width: calc(106% + 1.3px);
    height: 25px;
}

.custom-shape-divider-top-1710690546 .shape-fill {
    fill: rgba(0, 0, 0, 0.2); /* transparent black */
}






/*                         */
/*    Footer Style         */
/*                         */


.footer {
    background-color:rgb(14, 2, 10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

.footer-message{
    width: 100%;
    display: flex;
    justify-content: center;
}



.footer-message-item{
    display: flex;
    flex-direction: column;
    margin: 16px;
    text-align: left;
    width: 400px;
}

.footer-message-social{
    display: flex;
    margin: 16px;
    align-items: center;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}


.footer h2{
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 40px;
    text-align: left;
}
      

.footer p{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    text-align: left;
    color: #fff;
    margin-left: 20px;
    margin-bottom: 20px;
}


.footer i{
    color: #683865;
    width: 40px;
    font-size: 2rem;
    margin-left: 20px; 
}


.footer i:hover{
    color: #eb972a;
    transition: 0.3s ease-out;
}


.footer-copyright p{
    font-size: 0.9rem;
    color: #683865;
}









/*                       */
/*  Manage page style    */
/*                       */


.manage--wrapper{
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.explore-category h1{
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: "Sacramento", cursive;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    font-size: 50px;
    text-align: left;
}


.manage-kpi-db--wrapper{
    background-color: rgba(255, 255, 255, 0.1); /* Transparent white */
    backdrop-filter: blur(10px); /* Apply a blur effect */
    box-shadow: 0 0 10px rgb(146, 255, 5);
    min-width: 700px;
    max-width: 700px;
    border-radius: 10px;
    margin-top: 25px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.manage-kpi-db--wrapper i {
    color: #ffffff;
    font-size: 1.2rem;

}

.manage-kpi-db--wrapper i:hover {
    color: #cfbd16;
    transition: 0.3s ease-out;

}



.kpi-only{
    color: #f0e228;
}

.kpi-only th{
    color: #ffffff;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.kpi-only td{
    color: #69ff24;
    font-size: 40px;
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    padding: 0px 25px;
}


.kpi-only span{
    color: #69ff24;
    font-size: 30px;
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    padding: 0px 0px;
}

.db-only{
    color: #ffffff;
    font-size: 14px;
    margin-top: 7px;
}





/* TESTING DYNAMIC SEARCH  BEGIN */


.search form{
    min-width: 700px;
    max-width: 700px;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 0 15px rgb(146, 255, 5);

}



.search form input{
    border: 0;
    outline: 0px;
    width: 100%;
    padding-left: 10px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;

}


.search form .btn{
    font-size: 2rem;
    background: transparent;
}

.search form .btn i{
    color: #800878;
    font-size: 2rem;
}

.search form .btn i:hover{
    color: #108b00;
    font-size: 2rem;
}






/* Search form styling */


.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px;
    position: relative;

}

#search-form {
    min-width: 700px;
    max-width: 700px;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 0 15px rgb(146, 255, 5);

}




#movie-search {
    border: 0;
    outline: 0px;
    width: 100%;
    padding-left: 10px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    right: 20px;
    font-size: 1.6em;
    color: #898989;
}




/* Suggestions list styling */
#suggestions-list {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    width: 100%;
    max-width: 700px;
    position: absolute;
    margin-top: -35px;
    top: 100%;
    left: 0;
    background-color: white;
    border: 0px solid #ddd;
    border-radius: 5px;
}

#suggestions-list li {
    padding: 5px 20px;
    border-bottom: 0px solid #ddd;
    cursor: pointer;
}

#suggestions-list li:last-child {
    border-bottom: none;
}

#suggestions-list li:hover,
#suggestions-list li.selected {
    background-color: #f0f0f0;
}






/* TESTING DYNAMIC SEARCH  END */



.show-result{
    display: flex;
    min-width: 700px;
    max-width: 700px;
    border-radius: 15px;
    align-items: center;
    background: #fff;
    padding: 30px 30px;
    font-size: 0.9rem;
    margin-bottom: 100px;
    box-shadow: 0 0 15px rgb(146, 255, 5);
}


.show-result .ri-heart-3-fill{
    color: red;
}


.show-result i {
    color: #450c66;
    padding: 10px 10px;
    font-size: 1.6rem;
}

.show-result i:hover{
    color: #ae1695;
    transition: 0.3s ease-out;
}


.show-result tr{
    position: relative; /* Set position to relative */
}

/* Style for the line after each row */
.show-result tr::after {
    content: ''; /* Add content to the pseudo-element */
    position: absolute; /* Set position to absolute */
    left: 0; /* Position the line at the left */
    right: 0; /* Stretch the line to the right */
    bottom: 0; /* Position the line at the bottom */
    height: 1px; /* Set the height of the line */
    background-color: #f0e3ed; /* Set the color of the line */
}

.show-result table {
    width: 100%;
}


.stream-logo img {
    width: 100px;
    height: auto;
    border-radius: 13px;
    padding: 8px 8px;
    filter: drop-shadow(0 0 3px #f701ff); 
}

.stream-tag{
    font-size: 0.8rem;
}


.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #f5168d;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}


.mov-cat{
    font-size: 0.6rem;
    color: #181318;
}








/*                                    */
/*                                    */
/*  SECTION POUR SWICTH RESPONSIVE    */
/*                                    */
/*   640 px                           */
/*                                    */

@media (max-width: 750px) {

    /*                                       */
    /*     Border Animation RGB effect       */
    /*                                       */

    .user{
        font-size: 0.9rem;
    }





    .box {
        position: relative;
        width: 640px;
        height: 360px;
        background: #151320;
        border-radius: 10px; 
    }


    .video-js {
            width: 640px !important;
            height: 360px !important;
    }
    


    .box::before,
    .box::after {
        content: '';
        z-index: -1;
        position: absolute;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        top: -5px;
        left: -5px;
        border-radius: 8px;
        background: linear-gradient(45deg,
            #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
            #ff0055, #ff0000, #ffff00, #00ff00, #0099ff, #001aff, #a200ff
        );
        background-size: 300%;
        animation: border 12s linear infinite;
    }

    .box::after {
        filter: blur(25px);
    }

    @keyframes border {
        0%, 100% {
            background-position: 0 0;
        }

        50% {
            background-position: 300%;
        }
    }




    nav ul {
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #181318;
        gap: 0;
        overflow: hidden;
    }

    nav ul li {
        padding: 20px;
        padding-top: 10px;
    }

    .logo {
        display: none ;
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        transition: all 0.5s;
    }


    .manage-kpi-db--wrapper{
        background-color: rgba(255, 255, 255, 0.1) ;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 5px rgb(146, 255, 5) ;
        min-width: 650px ;
        max-width: 650px ;
        border-radius: 12px ;
        margin-top: 25px ;
        padding: 10px 10px;
    }
    
    .manage-kpi-db--wrapper i {
        font-size: 1.5rem;    
    }
    
    .kpi-only th{
        font-size: 0.8rem;
    }
    
    .kpi-only td{
        font-size: 3rem;
        padding: 0px 25px;
    }
    
    .kpi-only span{
        font-size: 1.5rem;
        padding: 0px 0px;
    }
    
    .db-only{
        font-size: 1.2rem;
        margin-top: 7px;
    }
    

    .search form{
        min-width: 650px;
        max-width: 650px;
    }
    
    .search form:active{
        box-shadow: 0 0 10px rgb(255, 84, 232), 0 0 10px rgb(151, 38, 167) inset;
    }
    

    .show-result{
        min-width: 650px;
        max-width: 650px;
        align-items: center;
        border-radius: 8px;
        padding: 20px 20px;
        font-size: 1rem;
        margin-bottom: 100px;
        box-shadow: 0 0 15px rgb(146, 255, 5);
    }

    .show-result table {
        width: 100%;
    }
    

  
    .stream-category{
        display: none; 
    }
 

    .stream-love{
        display: none;
    }
    
    .stream-logo img {
        width: 80px;
        height: auto;
        border-radius: 8px;
        padding: 5px 5px;
    }


    .hero{
        min-width: 650px;
        max-width: 650px;
        padding: 5px 5px;
    }
    
    .hero-no-streaming{
        margin-top: 0px;
    }
    
    
    .hero h1{
        font-size: 5.5rem;
    }
    
    .hero h3{
        font-size: 2.7rem;
    }
    
    
    .hero span{
        font-size: 2rem;
    }
    
    .hero p{
        font-size: 2rem;
    }
    
    .icon-app img{
        position: relative;
        bottom: -10px;
        width: 50px;
        height: auto;
    }

}








/*                                    */
/*                                    */
/*  SECTION POUR SWICTH RESPONSIVE    */
/*                                    */
/*   430 px                           */
/*                                    */

@media (max-width: 430px) {

    /*                                       */
    /*     Border Animation RGB effect       */
    /*                                       */

    .user{
        font-size: 0.7rem;
    }

    .box {
        position: relative;
        width: 350px;
        height: 197px;
        background: #151320;
        border-radius: 10px; 
    }


    .video-js {
            width: 350px !important;
            height: 197px !important;
    }
    

    .box::before,
    .box::after {
        content: '';
        z-index: -1;
        position: absolute;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        top: -5px;
        left: -5px;
        border-radius: 8px;
        background: linear-gradient(45deg,
            #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
            #ff0055, #ff0000, #ffff00, #00ff00, #0099ff, #001aff, #a200ff
        );
        background-size: 300%;
        animation: border 12s linear infinite;
    }

    .box::after {
        filter: blur(25px);
    }

    @keyframes border {
        0%, 100% {
            background-position: 0 0;
        }

        50% {
            background-position: 300%;
        }
    }




    nav ul {
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #181318;
        gap: 0;
        overflow: hidden;
    }

    nav ul li {
        padding: 20px;
        padding-top: 10px;
    }

    .logo {
        display: none; 
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        transition: all 0.5s;
    }

    .manage-kpi-db--wrapper{
        background-color: rgba(255, 255, 255, 0.1) ;
        backdrop-filter: blur(10px) ;
        box-shadow: 0 0 5px rgb(146, 255, 5);
        min-width: 350px ;
        max-width: 350px ;
        border-radius: 7px ;
        margin-top: 25px ;
        padding: 5px 5px ;
    }
    
    .manage-kpi-db--wrapper i {
        font-size: 1rem ;    
    }
    
    .kpi-only th{
        font-size: 0.8rem ;
    }
    
    .kpi-only td{
        font-size: 1.7rem ;
        padding: 0px 15px ;
    }
    
    .kpi-only span{
        font-size: 1rem !important;
        padding: 0px 0px ;
    }
    
    .db-only{
        font-size: 0.9rem ;
        margin-top: 7px ;
    }
    

    .search form{
        min-width: 350px;
        max-width: 350px;
    }
    
    .search form:active{
        box-shadow: 0 0 10px rgb(255, 84, 232), 0 0 10px rgb(151, 38, 167) inset;
    }
    

    .show-result{
        min-width: 350px;
        max-width: 350px;
        border-radius: 8px;
        padding: 20px 20px;
        font-size: 0.8rem;
        margin-bottom: 100px;
        box-shadow: 0 0 15px rgb(146, 255, 5);
    }

    .show-result table {
        width: 100%;
    }
    
    .stream-category{
        display: none; 
    }
    
    .stream-score{
        display: none; 
    }

    .stream-tag{
        display: none;
    }

    .stream-love{
        display: none;
    }
    
    .stream-logo img {
        width: 80px;
        height: auto;
        border-radius: 8px;
        padding: 5px 5px;
    }


    .hero{
        min-width: 355px;
        max-width: 355px;
        padding: 5px 5px;
    }
    
    .hero-no-streaming{
        margin-top: 0px;
    }
    
    
    .hero h1{
        font-size: 4.5rem;
    }
    
    .hero h3{
        font-size: 2.1rem;
    }
    
    
    .hero span{
        font-size: 1.9rem;
    }
    
    .hero p{
        font-size: 1.5rem;
    }
    
    .icon-app img{
        position: relative;
        bottom: -10px;
        width: 40px;
        height: auto;
    }
    

    .stream-url{
        min-width: 355px;
        max-width: 355px;
        padding: 5px 5px;
        font-size: 0.9rem;
    }

    .streamn-url-column h4{
        font-size: 0.9rem;

    }


}



