<!-- base-kpi template.html -->

<div class="manage-kpi-db--wrapper">

    <!--               -->
    <!--  kpi only     -->
    <!--               -->

    {% if kpi.asset is not none %}

    <div class="kpi-only">

        <table>
            <tr>
                <th>ASSETS</th>
                <th>CATEGORIES</th>
                <th>LIVE</th>
                <th>VOD &nbsp;
                    <a href="https://www.themoviedb.org/tv" target="_blank"><i class="ri-tv-line"></i></a>
                    &nbsp;
                    <a href="https://www.themoviedb.org/movie" target="_blank"><i class="ri-film-fill"></i></a>
                </th>
            </tr>
            <tr>
                <td> 
                    {% if kpi.asset > 1000 %}{{ ( kpi.asset / 1000) | round | int }}<span>k</span>
                    {% else %}{{ kpi.asset }}{% endif %}
                </td>

                <td>
                    {% if kpi.categories > 1000 %}{{ ( kpi.categories / 1000) | round | int }}<span>k</span>
                    {% else %}{{ kpi.categories }}{% endif %}
                </td>

                <td>  
                    {% if  kpi.liv > 1000 %}{{ (  kpi.liv / 1000) | round | int }}<span>k</span>
                    {% else %}{{  kpi.liv }}{% endif %}
                </td>
                
                <td>
                    {% if  kpi.vod > 1000 %}{{ (  kpi.vod / 1000) | round | int }}<span>k</span>
                    {% else %}{{ kpi.vod }}{% endif %}
                </td>
            </tr>
        </table>

    </div>
    {% endif %}


    {% if kpi.asset is not none %}
    <div class="db-only">

        <a href="https://smartersiptv.ca/" target="_blank">{{ kpi.dbname }}</a> ({{ kpi.cr_tm }})  
        
        <a href="{{url_for('updatedb') }}"><i class="ri-download-cloud-fill"></i></a>

    </div>
    {% endif %}

</div>
