{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


    <!--                -->
    <!--  HERO Section  -->
    <!--                -->

    <div class="hero-wrapper">

        <div class="hero-wrapper-row">

            <div class="hero-wrapper-column">

                <div class="hero">

                    <h3>streaming <span>{for}</span></h3> 
                    <h1>hackers_</h1> 

                    <p>
                        Stream any content with Open-source technology and Docker.
                        Recommended mobile App for your TV_
                    </p>


                    {% if fpids is none %}
                        <div class="hero-no-streaming">

                            <!-- Include the template here -->
                            {% include 'base-kpi.html' %}
            
                        </div>
                    {% endif %}


                </div>

            </div>

        </div>

    </div>









    {% if fpids is not none %}

    <!--                           -->
    <!-- Display publish url       -->
    <!--                           -->

    <section>
        <div class="streamn-url-wrapper">
            
            <div class="streamn-url-row">

                <div class="streamn-url-column">

                    <h4>Setup your TV or Mobile App to this URL link :</h4>

                    <div class="stream-url">
                        <i class="ri-earth-fill"></i>&nbsp;
        
                            <a href="vlc://http://tv.dresdell.com:8080/hls/live.m3u8">
                                http://tv.dresdell.com:8080/hls/live.m3u8 
                            </a>                              
                    </div>

                </div>

            </div>

        </div>

    </section>

        
 
    <!--                                                -->
    <!-- Section live streaming video if restream active-->
    <!--                                                -->

    <section>
        <div class="stream-section">
            <div class="box">
                <video id="my-video" class="video-js" controls autoplay preload="auto" muted data-setup="{}">
                    <source src="http://tv.dresdell.com:8080/hls/live.m3u8" type="application/x-mpegURL">
                </video>
            </div>
        </div>
    </section>
    



    {% endif %}






{% endblock %}
